@{ Layout = "_layout.cshtml";}
      <div class="Content RoundedTop">
        <ul class="ulContact">
          <li>Shop Location</li>
          <li>West Third Avenue</li>
          <li>Colorado 80654</li> 
        </ul>
        <ul class="ulContact">
          <li>Mailing Address</li>
          <li>PO Box 413</li>
          <li>Wiggins, Colorado 80654</li>
        </ul>
        <ul class="ulContact">
          <li>Phone and Fax</li>
          <li>Phone : 970-483-7280</li>
          <li>Fax : 970-483-8180</li>
        </ul>
      </div>
